/*
Kotian, Apeksha Appu :  1002074079
Jaglan, Meghna :  1002053631
Kopparthi, Sai Venkat Reddy :  1002113962
Moturi, Sesha Sai Srilekha :  1002110596
Konagari, Vishnupriya Reddy :  1002118979
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
