.toggle-button span {
    width: 25px;
    height: 3px;
    background-color: #fff; /* Toggle button color */
    display: block;
    margin: 5px 0;
    transition: all 0.3s;
}

.toggle-button {
    display: none; /* Hide the button by default */
    cursor: pointer;
}

/* Show the button on small screens */
@media screen and (max-width: 768px) {
    .toggle-button {
        display: block; /* Show the button on small screens */
    }
}