/*
Kotian, Apeksha Appu :  1002074079
Jaglan, Meghna :  1002053631
Kopparthi, Sai Venkat Reddy :  1002113962
Moturi, Sesha Sai Srilekha :  1002110596
Konagari, Vishnupriya Reddy :  1002118979
*/

.toggle-button span {
    width: 25px;
    height: 3px;
    background-color: #fff; /* Toggle button color */
    display: block;
    margin: 5px 0;
    transition: all 0.3s;
}

.toggle-button {
    display: none; /* Hide the button by default */
    cursor: pointer;
}

/* Show the button on small screens */
@media screen and (max-width: 768px) {
    .toggle-button {
        display: block; /* Show the button on small screens */
    }
}